<!-- Product card -->
{% load static %}
<div class="bg-white text-center h-full relative w-[250px] shadow-lg group">
    <div class="relative overflow-hidden ">
        <img src="{{image}}" class="w-full" alt="">
        <a href="" class="absolute bottom-4 left-[90px]"><i class="fa fa-heart p-3 rounded-full translate-y-[140%] bg-white group-hover:translate-y-0 duration-300"></i></a>
        <a href="{% url 'cart' %}" class="absolute bottom-4 left-[140px]"><i class="fa fa-shopping-bag p-3 rounded-full translate-y-[140%] bg-white group-hover:translate-y-0 duration-700"></i></a>
    </div>
    <div dir="rtl" class="p-4 space-y-2">
        <p class="text-lg font-bold">
            {{name}}
        </p>
        <p>{{price}} تومان</p>
    </div>
</div>