{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <style>
        body{
            font-family: 'dirooz';
        }
        @font-face {
            font-family: 'dirooz';
            src: url('{% static "fonts/dirooz.ttf" %}'), format('ttf');
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;700&display=swap" rel="stylesheet">
<link rel="icon" href="{% static 'images/custore/custore_logo.svg' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="relative z-0 min-h-screen">
    <nav class="bg-white shadow-md flex flex-col">
        <div class="container mx-auto flex justify-between items-center p-4">
            <div class="flex items-center space-x-10">
                <!-- logo -->
                <a href="{% url 'home' %}"><img src="{% static 'images/custore/custore_logo.svg' %}" class="w-[120px]" alt=""></a>
                <!-- menu -->
                <ul class="flex space-x-7 font-semibold text-sm max-md:hidden">
                    <li class="relative group"><a href="{% url 'home' %}"><p class="py-1">صفحه اصلی</p></a><span class="absolute bottom-0 right-0 w-0 h-0.5 transition-[width] duration-300 bg-red-600  group-hover:w-full"></span></li>
                    <li class="relative group">
                        <form action="{% url 'shop' %}" class="mt-1" method="get">
                            <input type="hidden" name="search-query" class="hidden" value="مردانه">
                            <button>مردانه</button>
                            <span class="absolute bottom-0 right-0 w-0 h-0.5 transition-[width] duration-300 bg-red-600  group-hover:w-full"></span>
                        </form>
                    </li>
                    <li class="relative group">
                        <form action="{% url 'shop' %}" class="mt-1" method="get">
                            <input type="hidden" name="search-query" class="hidden" value="زنانه">
                            <button>زنانه</button>
                            <span class="absolute bottom-0 right-0 w-0 h-0.5 transition-[width] duration-300 bg-red-600  group-hover:w-full"></span>
                        </form>
                    </li>
                    <li class="relative group"><a href="{% url 'shop' %}"><p class="py-1">فروشگاه</p></a><span class="absolute bottom-0 right-0 w-0 h-0.5 transition-[width] duration-300 bg-red-600  group-hover:w-full"></span></li>
                    <li class="relative group"><a href="{% url 'contact' %}"><p class="py-1">تماس با ما</p></a><span class="absolute bottom-0 right-0 w-0 h-0.5 transition-[width] duration-300 bg-red-600  group-hover:w-full"></span></li>
                    <li><a href="{% url 'pages' %}"><button class="bg-red-500 px-3 py-1 rounded-lg text-white hover:bg-red-400 duration-200">صفحه ها</button></a></li>
                </ul>
            </div>
            <div class="flex space-x-4 items-center max-md:hidden">
                <p><a href="{% url 'login' %}">ورود</a> / <a href="{% url 'register' %}">ثبت نام</a></p>
                
                    <form action="{% url 'shop' %}" method="get" class="flex items-center">
                        <button id="search-btn"><i class="fa p-3 rounded-l-lg  border fa-search"></i></button>
                        <input id="search-input" name="search-query" dir="rtl" type="search" class="rounded-r-xl focus:outline-none px-3 py-2 border " placeholder="جستجو">
                    </form>
                
                <a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i></a>
            </div>
            <button id="menu-btn" class="md:hidden"><i class="fa fa-bars text-xl"></i></button>
        </div>
    </nav>
    <!-- Menu -->
    <div id="menu" class="absolute space-y-5 top-0 p-6 right-0 bg-white z-10 h-auto w-full -translate-y-[101%] transition-transform duration-300 ">
        <button id="close-btn"><i class="fa fa-close text-xl"></i></button>
        <img src="{% static 'images/custore/custore_logo.svg' %}" class="w-[150px] mx-auto" alt="">
        <div class="flex items-center space-x-4 justify-center">
            <a href="{% url 'cart
            ' %}"><i class="fa fa-shopping-bag"></i></a>
            <a href=""><i class="fa fa-search"></i></a>
        </div>
        <ul dir="rtl" class="space-y-3 text-center">
            <li><p><a href="">ورود</a> / <a href="">ثبت نام</a></p></li>
            <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
            <li><a href="">زنانه</a></li>
            <li><a href="">مردانه</a></li>
            <li><a href="{% url 'shop' %}">فروشگاه</a></li>
            <li><a href="">تماس با ما</a></li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    <footer class="relative bottom-0 border-t-2">
        <div dir="rtl" class="container mx-auto p-6 grid gap-7 grid-cols-4 max-md:grid-cols-1">
            <!-- logo and description -->
            <div class="space-y-4">
                <img src="{% static 'images/custore/custore_logo.svg' %}" class="w-[150px]" alt="">
                <p>وبسایت کاستور فعالیت تجاری ندارد و این وبسایت فقط یک نمونه کار است و به دلیل نمایش طراحی و قابلیت های وبسایت طراحی شده است. این وبسایت به فروش می رسد</p>
            </div>
            <!-- account -->
            <div class="space-y-4">
                <h2 class="font-bold text-xl">حساب کاربری</h2>
                <ul>
                    <li><a href="">حساب کاربری من</a></li>
                    <li><a href="">پیگیری سفارش</a></li>
                    <li><a href="">پرداخت ها</a></li>
                </ul>
            </div>
            <!-- quick links -->
            <div class="space-y-4">
                <h2 class="font-bold text-xl">دسترسی سریع</h2>
                <ul>
                    <li><a href="">درباره ما</a></li>
                    <li><a href="">تماس با ما</a></li>
                    <li><a href="">بلاگ</a></li>
                    <li><a href="">سوالات متداول</a></li>
                </ul>
            </div>
            <!-- socail media links -->
            <div class="space-y-4">
                <h2 class="font-bold text-xl">شبکه های مجازی</h2>
                <ul class="flex space-x-3">
                    <li><a href=""><i class="fab fa-twitter ml-3 p-4 rounded-full bg-slate-300"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram p-4 rounded-full  bg-slate-300"></i></a></li>
                    
                    <li><a href=""><i class="fab fa-facebook p-4 rounded-full  bg-slate-300"></i></a></li>
                    <li><a href=""><i class="fab fa-youtube p-4 rounded-full  bg-slate-300"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script defer src="{% static 'scripts/script.js' %}"></script>
</body>
</html>