{% extends 'custore/base.html' %}
{% load static %}
{% block title %}
    سبد خرید
{% endblock title %}

{% block content %}
    <div class="container p-7 mx-auto">
        <!-- table titles -->
        <div dir="rtl" class="grid grid-cols-5 gap-5">
            <div class="text-xl font-bold col-span-2">کالا</div>
            <div class="text-xl font-bold ">قیمت</div>
            <div class="text-xl font-bold ">تعداد</div>
            <div class="text-xl font-bold ">کل</div>

        </div>
        <!-- table -->
        <div dir="rtl" class="grid grid-cols-5 py-5 gap-5">
            {% for product in products %}
            <!-- product -->
            <div dir="rtl" class="flex items-center col-span-2 ">
                <img src="{{product.image.url}}" class="w-[80px]" alt="">
                <p class="font-bold mx-5 text-lg max-md:text-sm">{{product.name}}</p>
            </div>
            <!-- price -->
            <div class="flex items-center max-md:text-sm">
                <p data-price="{{product.price}}" class="price">{{product.price}}</p>
                <p class="mx-1">تومان</p>
            </div>
            <!-- quantity -->
            <div class="flex items-center max-md:text-sm">

                <button class="add"><i class="fa fa-plus"></i></button>
                <p class="mx-4 quantity"></p>
                <button class="remove"><i class="fa fa-minus"></i></button>

            </div>
            <!-- total -->
            <div class="flex items-center">
                <p class="max-md:text-sm total"></p>
                <p class="mx-1">تومان</p>
            </div>
            {% endfor %}
        </div>
        <!-- total prices -->
        <div class="space-y-4 flex flex-col items-end max-md:items-center">
            <a href="{% url 'shop' %}" class="text-red-500">بازگشت به فروشگاه</a>
            <div dir="rtl" class="space-y-3 p-8 shadow-xl max-md:w-full">
                <h2 class="text-xl font-bold">فاکتور</h2>
                <div class="flex">
                    <p>کالا ها :</p>
                    <p id="product-total"></p>
                    <p class="mx-1">تومان</p>
                </div>
                
                <p>هزینه ارسال: 50000 تومان</p>
                <div class="flex">
                    <p>قابل پرداخت :</p>
                    <p id="all"></p>
                    <p class="mx-1">تومان</p>
                </div>
                <a href=""><button class="bg-red-500 w-full text-white mt-4 px-3 py-2 rounded-lg">پرداخت</button></a>
            </div>
        </div>
    </div>
{% endblock %}