{% extends 'custore/base.html' %}

{% block title %}
    تماس با ما
{% endblock %}

{% block content %}
    <div dir="rtl" class="container mx-auto p-7 grid grid-cols-2 gap-8 max-md:grid-cols-1">
        <!-- contact form -->
        <div class="space-y-5">
            <h1 class="text-3xl font-bold">تماس با ما</h1>
            <form class="space-y-5" dir="rtl">
                <input type="text" class="border-2 w-full focus:outline-none px-3 py-2 rounded-lg" placeholder="نام و نام خانوادگی">
                <input type="email" class="border-2 w-full focus:outline-none px-3 py-2 rounded-lg" placeholder="ایمیل">
                <textarea type="text" class="border-2 focus:outline-none w-full resize-none h-[200px] px-3 py-2 rounded-lg" placeholder="پیام"></textarea>
                <button class="bg-red-500 text-white px-4 py-2 rounded-lg max-md:w-full">ارسال</button>
            </form>
        </div>
        <!-- contact info -->
        <div class="space-y-5 py-12">
            <!-- address -->
            <div class="flex items-center p-5 border rounded-lg">
                <i class="fa fa-home mx-4"></i>
                <p>آدرس:تهران</p>
            </div>
            <!-- phone number -->
            <div class="flex items-center p-5 border  rounded-lg">
                <i class="fa fa-mobile mx-4"></i>
                <p>تلفن: 09103406985</p>
            </div>
            <!-- email -->
            <div class="flex items-center p-5 border rounded-lg">
                <i class="fa fa-envelope  mx-4"></i>
                <p>ایمیل: support.custore@gmail.com</p>
            </div>
        </div>
    </div>
{% endblock %}