{% extends 'custore/base.html' %}
{% load static %}
{% block title %}
    کاستور | فروشگاه آنلاین پوشاک
{% endblock %}
{% block content %}
<!-- hero section -->
<style>
    #discount-section{
        background-image: url('{% static "images/custore/snow.png" %}');
    }
</style>
    <section class="grid grid-cols-4 p-5  gap-4 max-md:grid-cols-1 max-[900px]:grid-cols-2">
        <div class="col-span-2 overflow-hidden row-span-2 relative w-full h-full max-md:col-span-1  max-[900px]:col-span-2">
            <img src="{% static 'images/custore/hero5.png' %}" class="w-full h-full" alt="">
            <div  class="absolute w-full px-20 py-24 h-auto top-0 left-0 max-md:px-6 max-md:py-10">
                <h2 class=" font-bold text-2xl md:text-3xl ">جدید ترین کالا ها</h2>
                <a href="{% url 'shop' %}"><button class="px-5 py-4 bg-red-400 mt-4 text-white text-sm rounded-lg hover:bg-red-500 duration-300 max-md:px-3 max-md:py-2">مشاهده محصولات</button></a>
            </div>
        </div>
        <div class="relative">
            <img src="{% static 'images/custore/hero3.webp' %}" class="w-full" alt="">
            <div  class="absolute w-full px-6 py-10 h-auto top-0 left-0 ">
                <h2 class=" font-bold ml-8 text-2xl">مردانه</h2>
                <a href="{% url 'shop' %}"><button class="px-3 py-2 bg-red-400 mt-4 text-white text-sm rounded-lg hover:bg-red-500 duration-300">مشاهده محصولات</button></a>
            </div>
        </div>
        <div class=" relative w-full">
            <img src="{% static 'images/custore/hero2.webp' %}" class="w-full" alt="">
            <div  class="absolute w-full px-6 py-10 h-auto top-0 left-0 ">
                <h2 class=" font-bold ml-8 text-2xl">کودک</h2>
                <a href="{% url 'shop' %}"><button class="px-3 py-2 bg-red-400 mt-4 text-white text-sm rounded-lg hover:bg-red-500 duration-300">مشاهده محصولات</button></a>
            </div>

        </div>
        <div class="relative w-full ">
            <img src="{% static 'images/custore/hero1.webp' %}" class="w-full" alt="">
            <div  class="absolute w-full px-6 py-10 h-auto top-0 left-0 ">
                <h2 class=" font-bold text-2xl">آرایشی بهداشتی</h2>
                <a href="{% url 'shop' %}"><button class="px-3 py-2 bg-red-400 mt-4 text-white text-sm rounded-lg hover:bg-red-500 duration-300">مشاهده محصولات</button></a>
            </div>
        </div>
        <div class="relative">
            <img src="{% static 'images/custore/hero4.webp' %}"  class="w-full" alt="">
            <div  class="absolute w-full px-6 py-10 h-auto top-0 left-0 ">
                <h2 class=" font-bold ml-3 text-2xl">اکسسوری</h2>
                <a href="{% url 'shop' %}"><button class="px-3 py-2 bg-red-400 mt-4 text-white text-sm rounded-lg hover:bg-red-500 duration-300">مشاهده محصولات</button></a>
            </div>
        </div>
    </section>
    <!-- New products section -->
    <section>
        <div class="container space-y-4 p-5 max-w-6xl mx-auto">
            <div dir="rtl" class="flex space-y-4 justify-between max-md:block">
                <h1 class="text-3xl font-bold">محصولات جدید</h1>
                <!-- categorys -->
                <ul class="flex space-x-4">
                    <li class="ml-3"><a href="">همه</a></li>
                    <li><a href="{% url 'shop' %}">زنانه</a></li>
                    <li><a href="{% url 'shop' %}">مردانه</a></li>
                    <li><a href="{% url 'shop' %}">کودک</a></li>
                    <li><a href="{% url 'shop' %}">اکسسوری</a></li>
                </ul>
            </div>
            <div class="grid grid-cols-4 gap-5 max-md:grid-cols-1">
                {% for product in products|slice:"0:4" %}
                    <div class="mx-auto">{% include 'custore/includes/product_card.html' with image=product.image.url name=product.name price=product.price %}</div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- banner section -->
    <section class="mt-3 relative w-full h-[650px] overflow-hidden bg-yellow-100">
        <img src="{% static 'images/custore/man.png' %}" class="absolute bottom-0 z-0 w-[200px]  left-[20%] max-md:left-0" alt="">
        <img src="{% static 'images/custore/clothing.png' %}" class="absolute right-[20%] opacity-70 bottom-[10%] max-md:right-0" alt="">
        <div dir="rtl" class="absolute space-y-5 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 p-10 bg-white">
            <h1 class="text-4xl max-md:text-2xl font-bold">بهترین محصولات را در فروشگاه ما پیدا کنید</h1>
            <p class="text-xl">بهترین اجناس از بهترین برند ها را از فروشگاه کاستور خرید کنید</p>
            <a href="{% url 'shop' %}"><button class="bg-black text-white mt-4 px-4 py-2 hover:bg-slate-400 duration-300">خرید کنید</button></a>
        </div>
    </section>
    <!-- trends section -->
    <section>
    <div dir="rtl" class="container mx-auto max-w-6xl grid grid-cols-3 gap-6 p-6 max-md:grid-cols-1">
        <div class="space-y-4 w-full">
            <h2 class="text-xl font-bold">پرطرفدار ترین</h2>
            <!-- product card -->
            {% for product in  trends|slice:"0:3" %}
            <div class="flex shadow-lg">
                <img src="{{product.image.url}}" class="w-[80px]" alt="">
                <div class="p-4">
                    <h3 class="text-lg font-bold">{{product.name}}</h3>
                    <p>{{product.price}} تومان</p>
                    <a href="{% url 'cart' %}" ><i class="fa fa-shopping-bag"></i></a>
                </div>
            </div>
            {% endfor %} 
        </div>
        <div class="space-y-4 w-full">
            <h2 class="text-xl font-bold">پرفروش ترین</h2>
            <!-- product card -->
            {% for product in  best_seller|slice:"0:3" %}
            <div class="flex shadow-lg">
                <img src="{{product.image.url}}" class="w-[80px]" alt="">
                <div class="p-4">
                    <h3 class="text-lg font-bold">{{product.name}}</h3>
                    <p>{{product.price}} تومان</p>
                    <a href="{% url 'cart' %}" ><i class="fa fa-shopping-bag"></i></a>
                </div>
            </div>
            {% endfor %} 
        </div>
        <div class="space-y-4 w-full">
            <h2 class="text-xl font-bold">جدید ترین</h2>
            {% for product in  products|slice:"0:3" %}
            <div class="flex shadow-lg">
                <img src="{{product.image.url}}" class="w-[80px]" alt="">
                <div class="p-4">
                    <h3 class="text-lg font-bold">{{product.name}}</h3>
                    <p>{{product.price}} تومان</p>
                    <a href="{% url 'cart' %}" ><i class="fa fa-shopping-bag"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- discount section -->
<section id="discount-section" class="bg-blue-200 bg-repeat h-[650px] overflow-hidden relative max-md:h-[500px] " >
    <img src="{% static 'images/custore/hero-women.png' %}" class="absolute w-[600px] left-[10%] bottom-0 max-md:hidden" alt="">
    <div dir="rtl" class="absolute text-center space-y-4 -translate-y-1/2 top-1/2 left-1/2 max-md:-translate-x-1/2">
        <p class="font-bold text-xl text-blue-800">60% تخفیف زمستانه</p>
        <h1 class="text-6xl font-bold">جشنواره زمستانه</h1>
        <p class="text-slate-700 text-lg">تا 60 درصد تخفیف ویژه محصولات زمستانی</p>
        <a href="{% url 'shop' %}"><button class="bg-blue-800 rounded-2xl text-white text-xl mt-4 px-4 py-2 hover:bg-blue-600 duration-200">خرید کنید</button></a>
    </div>
</section>
<!-- properties section -->
<section>
    <div class="container p-6 mx-auto grid gap-5 grid-cols-4 max-md:grid-cols-1">
        <!-- property card -->
        <div dir="rtl" class="flex shadow-lg items-center rounded-xl p-7">
            <i class="fa fa-credit-card text-cyan-600 text-4xl"></i>
            <div class="mr-4">
                <h3 class=" font-bold">پرداخت امن</h3>
                <p>تمامی پرداخت ها ایمن هستند</p>
            </div>
        </div>
        <!-- property card -->
        <div dir="rtl" class="flex shadow-lg items-center rounded-xl p-7">
            <i class="fa fa-headset text-cyan-600 text-4xl"></i>
            <div class="mr-4">
                <h3 class=" font-bold">پشتیبانی</h3>
                <p>پشتیبانی 24 ساعته 7 روز هفته</p>
            </div>
        </div>
        <!-- property card -->
        <div dir="rtl" class="flex shadow-lg items-center rounded-xl p-7">
            <i class="fa fa-box text-cyan-600 text-4xl"></i>
            <div class="mr-4">
                <h3 class=" font-bold">ارسال رایگان</h3>
                <p>ارسال رایگان برای خرید بالای 500 هزار تومان</p>
            </div>
        </div>
        <!-- property card -->
        <div dir="rtl" class="flex shadow-lg items-center rounded-xl p-7">
            <i class="fa fa-dollar text-cyan-600 text-4xl"></i>
            <div class="mr-4">
                <h3 class=" font-bold">ضمانت بازگشت وجه</h3>
                <p>ضمانت بازگشت وجه در صورت ناراضی بودن</p>
            </div>
        </div>

    </div>
</section>
<!-- brands section -->
<section class="py-6">
    <h1 class="text-center text-2xl font-bold py-5">برند ها</h1>
    <div class="container grid grid-cols-8 gap-6 mx-auto max-md:grid-cols-2">
        <img src="{% static 'images/custore/brand1.png' %}" class="mx-auto grayscale hover:grayscale-0 duration-300" alt="">
        <img src="{% static 'images/custore/brand2.png' %}" class="mx-auto grayscale hover:grayscale-0 duration-300" alt="">
        <img src="{% static 'images/custore/brand3.png' %}" class="mx-auto grayscale hover:grayscale-0 duration-300" alt="">
        <img src="{% static 'images/custore/brand4.png' %}" class="mx-auto grayscale hover:grayscale-0 duration-300" alt="">
        <img src="{% static 'images/custore/brand5.png' %}" class="mx-auto grayscale hover:grayscale-0 duration-300" alt="">
        <img src="{% static 'images/custore/brand6.png' %}" class="mx-auto grayscale hover:grayscale-0 duration-300" alt="">
        <img src="{% static 'images/custore/brand7.png' %}" class="mx-auto grayscale hover:grayscale-0 duration-300" alt="">
        <img src="{% static 'images/custore/brand8.png' %}" class="mx-auto grayscale hover:grayscale-0 duration-300" alt="">
    </div>
</section>

{% endblock %}