{% extends 'custore/base.html' %}
{% load static %}
{% block title %}
    ورود
{% endblock %}
{% block content %}
    <div class="container p-8 mx-auto flex justify-center items-center">
        <div dir="rtl" class="grid grid-cols-1 shadow-xl w-auto max-md:w-full max-md:grid-cols-1">
            <!-- login form -->
            <div class="p-10">
                <h1 class="text-4xl font-bold py-10">ورود</h1>
                <form class="space-y-8">
                    <input type="text" placeholder="ایمیل" class="w-full py-2 px-3 focus:outline-none border-2 rounded-lg">
                    <input type="password" placeholder="رمز عبور" class="w-full py-2 px-3 focus:outline-none border-2 rounded-lg">
                    <a href=""><p class="text-red-500 mt-4">رمز عبورم را فراموش کردم</p></a>
                    <button class="w-full bg-red-500 text-white py-2 rounded-lg">ورود</button>
                    <a href="{% url 'register' %}"><p class="text-center mt-6 text-red-500">حساب کاربری ندارید ؟</p></a>
                </form>
            </div>

        </div>
    </div>
{% endblock %}