{% extends 'cms/cms_base.html' %}

{% block title %}
    مشتریان
{% endblock %}

{% block content %}
    <div dir="rtl" class="p-2">
        <h1 class="text-xl font-bold">مشتریان</h1>
        <div class="grid grid-cols-2 gap-4 max-md:grid-cols-1">
            {% for customer in customers %}
            <!-- cutomer card -->
            <div class="w-full space-y-3 shadow-xl rounded-xl p-7">
                <h3 class="text-xl font-bold">نام و نام خانوادگی:  {{customer.name}}</h3>
                <p>آدرس : {{customer.address}}</p>
                <a href=""><button class="px-3 py-2 mt-3 rounded-lg border">سفارشات</button></a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}